@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-body-font: "Onest";
    --font-header-font: "Rubik";
    --tracking-header: .4rem;

    --color-primary-100: #D3DFFF;
    --color-primary-200: #6590FF;

    --color-secondary-100: #FFE5D3;
    --color-secondary-200: #FE9A53;
    --color-secondary-300: #E96F19;

    --color-dark: #242343;
}

h1, h2, h3, h4, h5, h6, h7, p {
    color: #242343;
    font-family: "Onest";
}

p {
    font-size: 16px;
}

.carousel-image {
    transition: all .3s ease-in-out;
}

.carousel-item:hover .carousel-image {
    scale: 1.2;
}

.tag-hover:hover .tag-icon {
    color: #FE9A53
}

.tag-header {
    color: white
}

.tag-hover:hover .tag-header {
    color: #FE9A53  !important
}

/* Hide scrollbar but allow scroll */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* MEDIA QUERIES */

@media only screen and (max-width: 765px) {
  p {
    font-size: 14px !important;
  }
}