@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-body-font: "Onest";
    --font-header-font: "Rubik";
    --tracking-header: .8rem;
}

p {
    font-size: 16px;
}